.label {
    font-weight: 600;
}

.application__step-title h1 {
	margin: 0 0 30px 0;
	text-transform: none !important;
}

.signature-container {
    margin: 50px 0 50px 0;
    padding: 20px;

    .signature-header {
        font-weight: 600;
        font-size: larger;
    }

    .signature-body {
        margin-top: 15px;

        .signature-holder {
            margin: 50px 0 50px 0;
            
            label {
                font-weight: 600;
            }
        }
    }
}

.table-container {
    background-color: #EEEEEE;

    table {
        span {
            font-weight: 600;
        }
    }
}

.primary-button {
    border: none;
    padding: 15px 60px;
    background: #beeadf;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-header {
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

